In [1]:
import pandas as pd
import csv

In [2]:
accident_rate="../Excel_cleaned/acc_acc_rate_NTSB.csv"
destroyed_aircraft="../Excel_cleaned/num_rate_destroyed_aircraft.csv"
passenger_injury = "../Excel_cleaned/passenger_injury_rate.csv"

In [3]:
accident_rate = pd.read_csv(accident_rate)
destroyed_aircraft = pd.read_csv(destroyed_aircraft)
passenger_injury = pd.read_csv(passenger_injury)

In [4]:
accident_rate.dtypes

Year                                     int64
Major Accidents                          int64
Serious Accidents                        int64
Injury                                   int64
Damage                                   int64
(millions)                             float64
Major Accidents per Million hours      float64
Serious Accidents per Million hours    float64
Injury per Million hours               float64
Damage per millions                    float64
dtype: object

In [5]:
destroyed_aircraft.dtypes

Year                                              int64
Hull Losses                                       int64
Aircraft Hours Flown (millions)                 float64
Hull Losses per Million Aircraft Hours Flown    float64
dtype: object

In [6]:
passenger_injury.dtypes

Year                                                      int64
Passenger Fatalities                                      int64
Passenger Serious Injuries                                int64
Total Passenger Enplanements (millions)                   int64
Million Passenger Enplanements per Passenger Fatality    object
dtype: object

In [7]:
passenger_injury = passenger_injury.drop(columns = ["Million Passenger Enplanements per Passenger Fatality"])

In [8]:
passenger_injury.dtypes

Year                                       int64
Passenger Fatalities                       int64
Passenger Serious Injuries                 int64
Total Passenger Enplanements (millions)    int64
dtype: object

In [9]:
passenger_injury

,Year,Passenger Fatalities,Passenger Serious Injuries,Total Passenger Enplanements (millions)
0,1983,8,8,325
1,1984,1,6,352
2,1985,486,20,390
3,1986,4,14,427
4,1987,213,39,458
5,1988,255,44,466
6,1989,259,55,468
7,1990,8,23,483
8,1991,40,19,468
9,1992,25,14,494
10,1993,0,7,505
11,1994,228,15,545
12,1995,152,15,561
13,1996,319,19,592
14,1997,2,21,648
15,1998,0,12,650
16,1999,10,46,676
17,2000,83,13,701
18,2001,483,7,629
19,2002,0,11,619
20,2003,19,10,654
21,2004,11,3,711
22,2005,18,2,743
23,2006,47,4,747
24,2007,0,3,770
25,2008,0,10,744
26,2009,45,11,706
27,2010,0,5,723
28,2011,0,4,734
29,2012,0,3,740
30,2013,0,1,746
31,2014,0,0,764

In [10]:
merged = pd.merge(destroyed_aircraft, passenger_injury, on = "Year")
merged

,Year,Hull Losses,Aircraft Hours Flown (millions),Hull Losses per Million Aircraft Hours Flown,Passenger Fatalities,Passenger Serious Injuries,Total Passenger Enplanements (millions)
0,1983,2,7.299,0.274,8,8,325
1,1984,2,8.165,0.245,1,6,352
2,1985,8,8.710,0.918,486,20,390
3,1986,2,9.976,0.200,4,14,427
4,1987,5,10.645,0.470,213,39,458
5,1988,3,11.141,0.269,255,44,466
6,1989,7,11.275,0.621,259,55,468
7,1990,3,12.150,0.247,8,23,483
8,1991,5,11.781,0.424,40,19,468
9,1992,3,12.360,0.243,25,14,494
10,1993,1,12.706,0.079,0,7,505
11,1994,3,13.124,0.229,228,15,545
12,1995,3,13.505,0.222,152,15,561
13,1996,5,13.746,0.364,319,19,592
14,1997,2,15.838,0.126,2,21,648
15,1998,0,16.817,0.000,0,12,650
16,1999,2,17.555,0.114,10,46,676
17,2000,3,18.299,0.164,83,13,701
18,2001,5,17.814,0.281,483,7,629
19,2002,1,17.290,0.058,0,11,619
20,2003,2,17.468,0.114,19,10,654
21,2004,4,18.883,0.212,11,3,711
22,2005,1,19.390,0.052,18,2,743
23,2006,2,19.263,0.104,47,4,747
24,2007,0,19.637,0.000,0,3,770
25,2008,4,19.127,0.209,0,10,744
26,2009,2,17.627,0.113,45,11,706
27,2010,1,17.751,0.056,0,5,723
28,2011,0,17.963,0.000,0,4,734
29,2012,0,17.722,0.000,0,3,740
30,2013,2,17.693,0.113,0,1,746
31,2014,0,17.599,0.000,0,0,764

In [11]:
final_merged = pd.merge(merged, accident_rate, on = "Year")
final_merged.head()

,Year,Hull Losses,Aircraft Hours Flown (millions),Hull Losses per Million Aircraft Hours Flown,Passenger Fatalities,Passenger Serious Injuries,Total Passenger Enplanements (millions),Major Accidents,Serious Accidents,Injury,Damage,(millions),Major Accidents per Million hours,Serious Accidents per Million hours,Injury per Million hours,Damage per millions
0,1983,2,7.299,0.274,8,8,325,4,2,9,8,7.299,0.548,0.274,1.233,1.096
1,1984,2,8.165,0.245,1,6,352,2,2,6,6,8.165,0.245,0.245,0.735,0.735
2,1985,8,8.710,0.918,486,20,390,8,2,5,6,8.710,0.918,0.230,0.574,0.689
3,1986,2,9.976,0.200,4,14,427,4,0,14,6,9.976,0.401,0.000,1.403,0.601
4,1987,5,10.645,0.470,213,39,458,5,1,12,16,10.645,0.470,0.094,1.127,1.503

In [12]:
final_merged = final_merged.drop(columns = ["(millions)"])

In [97]:
final_merged.head()

,Year,Hull Losses,Aircraft Hours Flown (millions),Hull Losses per Million Aircraft Hours Flown,Passenger Fatalities,Passenger Serious Injuries,Total Passenger Enplanements (millions),Major Accidents,Serious Accidents,Injury,Damage,Major Accidents per Million hours,Serious Accidents per Million hours,Injury per Million hours,Damage per millions
0,1983,2,7.299,0.274,8,8,325,4,2,9,8,0.548,0.274,1.233,1.096
1,1984,2,8.165,0.245,1,6,352,2,2,6,6,0.245,0.245,0.735,0.735
2,1985,8,8.710,0.918,486,20,390,8,2,5,6,0.918,0.230,0.574,0.689
3,1986,2,9.976,0.200,4,14,427,4,0,14,6,0.401,0.000,1.403,0.601
4,1987,5,10.645,0.470,213,39,458,5,1,12,16,0.470,0.094,1.127,1.503

In [13]:
final_merged = final_merged[["Year", "Total Passenger Enplanements (millions)", "Aircraft Hours Flown (millions)", 
                             "Hull Losses", "Hull Losses per Million Aircraft Hours Flown", "Major Accidents", 
                             "Major Accidents per Million hours", "Serious Accidents", "Serious Accidents per Million hours", 
                             "Injury", "Injury per Million hours", "Damage", "Damage per millions", 
                            "Passenger Fatalities","Passenger Serious Injuries"]]

In [14]:
final_merged

,Year,Total Passenger Enplanements (millions),Aircraft Hours Flown (millions),Hull Losses,Hull Losses per Million Aircraft Hours Flown,Major Accidents,Major Accidents per Million hours,Serious Accidents,Serious Accidents per Million hours,Injury,Injury per Million hours,Damage,Damage per millions,Passenger Fatalities,Passenger Serious Injuries
0,1983,325,7.299,2,0.274,4,0.548,2,0.274,9,1.233,8,1.096,8,8
1,1984,352,8.165,2,0.245,2,0.245,2,0.245,6,0.735,6,0.735,1,6
2,1985,390,8.710,8,0.918,8,0.918,2,0.230,5,0.574,6,0.689,486,20
3,1986,427,9.976,2,0.200,4,0.401,0,0.000,14,1.403,6,0.601,4,14
4,1987,458,10.645,5,0.470,5,0.470,1,0.094,12,1.127,16,1.503,213,39
5,1988,466,11.141,3,0.269,4,0.359,2,0.180,13,1.167,11,0.987,255,44
6,1989,468,11.275,7,0.621,8,0.710,4,0.355,6,0.532,10,0.887,259,55
7,1990,483,12.150,3,0.247,4,0.329,3,0.247,10,0.823,7,0.576,8,23
8,1991,468,11.781,5,0.424,5,0.424,2,0.170,10,0.849,9,0.764,40,19
9,1992,494,12.360,3,0.243,3,0.243,3,0.243,10,0.809,2,0.162,25,14
10,1993,505,12.706,1,0.079,1,0.079,2,0.157,12,0.944,8,0.630,0,7
11,1994,545,13.124,3,0.229,4,0.305,0,0.000,12,0.914,7,0.533,228,15
12,1995,561,13.505,3,0.222,3,0.222,2,0.148,14,1.037,17,1.259,152,15
13,1996,592,13.746,5,0.364,6,0.436,0,0.000,18,1.309,13,0.946,319,19
14,1997,648,15.838,2,0.126,2,0.126,4,0.253,24,1.515,19,1.200,2,21
15,1998,650,16.817,0,0.000,0,0.000,3,0.178,21,1.249,26,1.546,0,12
16,1999,676,17.555,2,0.114,2,0.114,2,0.114,20,1.139,27,1.538,10,46
17,2000,701,18.299,3,0.164,3,0.164,3,0.164,20,1.093,30,1.639,83,13
18,2001,629,17.814,5,0.281,5,0.281,1,0.056,19,1.067,21,1.179,483,7
19,2002,619,17.290,1,0.058,1,0.058,1,0.058,14,0.810,25,1.446,0,11
20,2003,654,17.468,2,0.114,2,0.114,3,0.172,24,1.374,25,1.431,19,10
21,2004,711,18.883,4,0.212,4,0.212,0,0.000,15,0.794,11,0.583,11,3
22,2005,743,19.390,1,0.052,2,0.103,3,0.155,11,0.567,24,1.238,18,2
23,2006,747,19.263,2,0.104,2,0.104,2,0.104,7,0.363,22,1.142,47,4
24,2007,770,19.637,0,0.000,0,0.000,2,0.102,14,0.713,12,0.611,0,3
25,2008,744,19.127,4,0.209,4,0.209,1,0.052,8,0.418,15,0.784,0,10
26,2009,706,17.627,2,0.113,2,0.113,3,0.170,15,0.851,10,0.567,45,11
27,2010,723,17.751,1,0.056,1,0.056,0,0.000,15,0.845,14,0.789,0,5
28,2011,734,17.963,0,0.000,0,0.000,0,0.000,19,1.058,12,0.668,0,4
29,2012,740,17.722,0,0.000,0,0.000,0,0.000,16,0.903,11,0.621,0,3
30,2013,746,17.693,2,0.113,2,0.113,0,0.000,9,0.509,12,0.678,0,1
31,2014,764,17.599,0,0.000,0,0.000,0,0.000,13,0.739,15,0.852,0,0

In [15]:
final_merged = final_merged.rename(columns = {"Year":"Year",
                  "Total Passenger Enplanements (millions)":"Passanger Enplanements (millions)",
                  "Aircraft Hours Flown (millions)":"Aircraft Hours Flown (millions)",
                  "Hull Losses": "Hull Losses",
                  "Hull Losses per Million Aircraft Hours Flown":"Hull Losses per Million Aircraft Hours Flown",
                  "Major Accidents":"Major Accidents",
                  "Major Accidents per Million hours": "Major Accidents per Million Aircraft Hours Flown",
                  "Serious Accidents":"Serious Accidents",
                  "Serious Accidents per Million hours":"Serious Accidents per Million Aircraft Hours Flown",
                  "Injury":"Injuries",
                  "Injury per Million hours":"Injuries per Million Aircraft Hours Flown",
                  "Damage":"Damages",
                  "Damage per millions":"Damage per Million Aircraft Hours Flown",
                  "Passenger Fatalities":"Passenger Fatalities",
                  "Passenger Serious Injuries":"Serious Passenger Injuries",})

In [16]:
final_merged

,Year,Passanger Enplanements (millions),Aircraft Hours Flown (millions),Hull Losses,Hull Losses per Million Aircraft Hours Flown,Major Accidents,Major Accidents per Million Aircraft Hours Flown,Serious Accidents,Serious Accidents per Million Aircraft Hours Flown,Injuries,Injuries per Million Aircraft Hours Flown,Damages,Damage per Million Aircraft Hours Flown,Passenger Fatalities,Serious Passenger Injuries
0,1983,325,7.299,2,0.274,4,0.548,2,0.274,9,1.233,8,1.096,8,8
1,1984,352,8.165,2,0.245,2,0.245,2,0.245,6,0.735,6,0.735,1,6
2,1985,390,8.710,8,0.918,8,0.918,2,0.230,5,0.574,6,0.689,486,20
3,1986,427,9.976,2,0.200,4,0.401,0,0.000,14,1.403,6,0.601,4,14
4,1987,458,10.645,5,0.470,5,0.470,1,0.094,12,1.127,16,1.503,213,39
5,1988,466,11.141,3,0.269,4,0.359,2,0.180,13,1.167,11,0.987,255,44
6,1989,468,11.275,7,0.621,8,0.710,4,0.355,6,0.532,10,0.887,259,55
7,1990,483,12.150,3,0.247,4,0.329,3,0.247,10,0.823,7,0.576,8,23
8,1991,468,11.781,5,0.424,5,0.424,2,0.170,10,0.849,9,0.764,40,19
9,1992,494,12.360,3,0.243,3,0.243,3,0.243,10,0.809,2,0.162,25,14
10,1993,505,12.706,1,0.079,1,0.079,2,0.157,12,0.944,8,0.630,0,7
11,1994,545,13.124,3,0.229,4,0.305,0,0.000,12,0.914,7,0.533,228,15
12,1995,561,13.505,3,0.222,3,0.222,2,0.148,14,1.037,17,1.259,152,15
13,1996,592,13.746,5,0.364,6,0.436,0,0.000,18,1.309,13,0.946,319,19
14,1997,648,15.838,2,0.126,2,0.126,4,0.253,24,1.515,19,1.200,2,21
15,1998,650,16.817,0,0.000,0,0.000,3,0.178,21,1.249,26,1.546,0,12
16,1999,676,17.555,2,0.114,2,0.114,2,0.114,20,1.139,27,1.538,10,46
17,2000,701,18.299,3,0.164,3,0.164,3,0.164,20,1.093,30,1.639,83,13
18,2001,629,17.814,5,0.281,5,0.281,1,0.056,19,1.067,21,1.179,483,7
19,2002,619,17.290,1,0.058,1,0.058,1,0.058,14,0.810,25,1.446,0,11
20,2003,654,17.468,2,0.114,2,0.114,3,0.172,24,1.374,25,1.431,19,10
21,2004,711,18.883,4,0.212,4,0.212,0,0.000,15,0.794,11,0.583,11,3
22,2005,743,19.390,1,0.052,2,0.103,3,0.155,11,0.567,24,1.238,18,2
23,2006,747,19.263,2,0.104,2,0.104,2,0.104,7,0.363,22,1.142,47,4
24,2007,770,19.637,0,0.000,0,0.000,2,0.102,14,0.713,12,0.611,0,3
25,2008,744,19.127,4,0.209,4,0.209,1,0.052,8,0.418,15,0.784,0,10
26,2009,706,17.627,2,0.113,2,0.113,3,0.170,15,0.851,10,0.567,45,11
27,2010,723,17.751,1,0.056,1,0.056,0,0.000,15,0.845,14,0.789,0,5
28,2011,734,17.963,0,0.000,0,0.000,0,0.000,19,1.058,12,0.668,0,4
29,2012,740,17.722,0,0.000,0,0.000,0,0.000,16,0.903,11,0.621,0,3
30,2013,746,17.693,2,0.113,2,0.113,0,0.000,9,0.509,12,0.678,0,1
31,2014,764,17.599,0,0.000,0,0.000,0,0.000,13,0.739,15,0.852,0,0

In [27]:
cd=final_merged.iloc[0]
cd

Year                                                  1983.000
Passanger Enplanements (millions)                      325.000
Aircraft Hours Flown (millions)                          7.299
Hull Losses                                              2.000
Hull Losses per Million Aircraft Hours Flown             0.274
Major Accidents                                          4.000
Major Accidents per Million Aircraft Hours Flown         0.548
Serious Accidents                                        2.000
Serious Accidents per Million Aircraft Hours Flown       0.274
Injuries                                                 9.000
Injuries per Million Aircraft Hours Flown                1.233
Damages                                                  8.000
Damage per Million Aircraft Hours Flown                  1.096
Passenger Fatalities                                     8.000
Serious Passenger Injuries                               8.000
Name: 0, dtype: float64

In [31]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pandas as pd
import psycopg2

In [38]:
Base.metadata.tables

immutabledict({})

In [81]:
class airplaines(Base):
  __tablename__ = 'plane_datass'
  id = Column(Integer, primary_key=True)
  Passanger_Enplanement = Column(Integer)
  Aircraftzz_Hours_Flown = Column(Integer)
  Hull_Losses =Column(Integer)
  Hull_Losses_per_Million_Aircraft_Hours_Flown =Column(Integer)
  Major_Accidents =Column(Integer)
  Major_Accidents_per_Million_Aircraft_Hours_Flown =Column(Integer)
  Serious_Accidents =Column(Integer)
  Serious_Accidents_per_Million_Aircraft_Hours_Flown =Column(Integer)
  Injuries =Column(Integer)
  Injuries_per_Million_Aircraft_Hours_Flown =Column(Integer)
  Damages =Column(Integer)
  Damage_per_Million_Aircraft_Hours_Flown = Column(Integer)
  Passenger_Fatalities = Column(Integer)
  Serious_Passenger_Injuries = Column(Integer)

In [82]:
Base.metadata.tables

immutabledict({'plane_datas': Table('plane_datas', MetaData(bind=None), Column('id', Integer(), table=<plane_datas>, primary_key=True, nullable=False), Column('Passanger_Enplanement', Integer(), table=<plane_datas>), Column('Aircraftzz_Hours_Flown', Integer(), table=<plane_datas>), Column('Hull_Losses', Integer(), table=<plane_datas>), Column('Hull_Losses_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datas>), Column('Major_Accidents', Integer(), table=<plane_datas>), Column('Major_Accidents_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datas>), Column('Serious_Accidents', Integer(), table=<plane_datas>), Column('Serious_Accidents_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datas>), Column('Injuries', Integer(), table=<plane_datas>), Column('Injuries_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datas>), Column('Damages', Integer(), table=<plane_datas>), Column('Damage_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datas>), Column('Passenger_Fatalities', Integer(), table=<plane_datas>), Column('Serious_Passenger_Injuries', Integer(), table=<plane_datas>), schema=None), 'plane_datass': Table('plane_datass', MetaData(bind=None), Column('id', Integer(), table=<plane_datass>, primary_key=True, nullable=False), Column('Passanger_Enplanement', Integer(), table=<plane_datass>), Column('Aircraftzz_Hours_Flown', Integer(), table=<plane_datass>), Column('Hull_Losses', Integer(), table=<plane_datass>), Column('Hull_Losses_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datass>), Column('Major_Accidents', Integer(), table=<plane_datass>), Column('Major_Accidents_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datass>), Column('Serious_Accidents', Integer(), table=<plane_datass>), Column('Serious_Accidents_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datass>), Column('Injuries', Integer(), table=<plane_datass>), Column('Injuries_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datass>), Column('Damages', Integer(), table=<plane_datass>), Column('Damage_per_Million_Aircraft_Hours_Flown', Integer(), table=<plane_datass>), Column('Passenger_Fatalities', Integer(), table=<plane_datass>), Column('Serious_Passenger_Injuries', Integer(), table=<plane_datass>), schema=None)})

In [83]:
engine=psycopg2.connect(f'postgresql://postgres:Homerun12@localhost:5432')
engine.autocommit=True
cursor=engine.cursor()
sql='''Create database airplainess''';
cursor.execute(sql)

In [93]:
con_string= "postgresql://postgres:Homerun12@localhost:5432"
engine= create_engine(f"postgresql://{con_string}")

In [94]:
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgresql"

(Background on this error at: http://sqlalche.me/e/e3q8)

AttributeError: 'psycopg2.extensions.connection' object has no attribute 'connect'

In [87]:
final_merged.to_sql('Plane_Data', con=engine, if_exists = "append")

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgresql"

(Background on this error at: http://sqlalche.me/e/e3q8)